body{
background:#0d0d0d;
color:white;
font-family:Arial;
text-align:center;
}

#board{
width:400px;
height:400px;
margin:auto;
display:grid;
grid-template-columns:repeat(20,1fr);
grid-template-rows:repeat(20,1fr);
border:2px solid white;
}

.cell{
background:#111;
}

.snake{
background:#00ff99;
}

.shadow{
background:#5555ff;
}

.food{
background:red;
}

button{
margin-top:15px;
padding:10px 20px;
font-size:16px;
cursor:pointer;
}