* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg,#667eea,#764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  padding: 25px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.input-box {
  display: flex;
  gap: 5px;
}

input, select, button {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  cursor: pointer;
  background: #00f2fe;
}

#taskList {
  margin-top: 15px;
}

li {
  background: rgba(0,0,0,0.3);
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.done {
  text-decoration: line-through;
  opacity: 0.6;
}