body{
background:#050505;
color:#00ffcc;
font-family:monospace;
text-align:center;
}

h1{
letter-spacing:4px;
}

#info{
margin:15px;
font-size:18px;
display:flex;
justify-content:space-around;
}

#grid{
display:grid;
gap:10px;
justify-content:center;
margin:20px auto;
width:max-content;
}

.cell{
width:60px;
height:60px;
background:#111;
border-radius:6px;
cursor:pointer;
transition:0.2s;
}

.cell.active{
background:#00ffcc;
}

.cell.selected{
background:#ffaa00;
}

button{
padding:10px 30px;
background:#00ffcc;
border:none;
font-size:16px;
cursor:pointer;
}